body {
    background-color:rgb(243, 243, 243)
}



#title {
    color:rgb(233, 51, 19);
}
.hour {
    color:rgb(0, 0, 0);
    
}

#terminal { 
    
color: red;

}

p {
    font-size: 36px;
    text-align: center;
    color:red;
}


.hourTitle {
    font-weight: bold;
}